<div class="slogan text-center">
  <div class="actions">
    <a ui-sref="index.counselor">浏览精英</a>
  </div>
</div>
<div class="text-content container" style="padding-top: 100px;padding-bottom: 100px">
  <div class="row">
    <div class="col-xs-4" align="center">
      <img src="../images/3fc3e87f.H00.png">
      <h2 class="bold">名企精英</h2>
      <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp求职顾问来自名企精英、经理及HR，涵盖IT、四大、医疗、快消及国企事业单位！</p>
    </div>
    <div class="col-xs-4" align="center">
      <img src="../images/54b6ddfa.H01.png">
      <h2 class="bold">快速解答</h2>
      <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp用最快最直接的方式获取面试的经验，让精英给职场新人指点迷津！</p>
    </div>
    <div class="col-xs-4" align="center">
      <img src="../images/d16a3e97.H02.png">
      <h2 class="bold">交易担保</h2>
      <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp前程资金的担保：咨询费预付到平台，待人工确认后进行结算，保证双方的权益！</p>
    </div>
  </div>
</div>


<div class="container" style="padding-left: 40px;padding-right: 40px">
  <h2 align="center" class="hezuo">合作伙伴</h2>
  <div class="row">
    <div class="wrapper col-xs-4">
      <div class="item">
        <div class="cover">
          <a href="https://www.liepin.com/"> <img class="img-responsive" src="../images/1648434f.job1.png" alt="Lagou age of ambition"></a>
        </div>
        <div class="desc">
          <div class="title">找猎聘上猎头你就是精英</div>
          <!-- <div class="summary">
           周期 12 天&nbsp;&nbsp;|&nbsp;&nbsp;
           工程师 8 位&nbsp;&nbsp;|&nbsp;&nbsp;
           花费 18237 元
         </div> -->
        </div>
      </div>
    </div>
    <div class="wrapper col-xs-4">
      <div class="item">
        <div class="cover">
          <a href="http://www.chinahr.com/"> <img class="img-responsive" src="../images/1648434f.job1.png" alt="Home cook"></a>
        </div>
        <div class="desc">
          <div class="title">上中华英才网就够了</div>
          <!-- <div class="summary">
           周期 12 天&nbsp;&nbsp;|&nbsp;&nbsp;
           工程师 8 位&nbsp;&nbsp;|&nbsp;&nbsp;
           花费 18237 元
         </div> -->
        </div>
      </div>
    </div>
    <div class="wrapper col-xs-4">
      <div class="item">
        <div class="cover">
          <a href="http://www.zhaopin.com/"> <img class="img-responsive" src="../images/1648434f.job1.png" alt="Lagou shengzhiji"></a>
        </div>
        <div class="desc">
          <div class="title">上智联招聘找好工作</div>
          <!-- <div class="summary">
             周期 12 天&nbsp;&nbsp;|&nbsp;&nbsp;
             工程师 8 位&nbsp;&nbsp;|&nbsp;&nbsp;
             花费 18237 元
           </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 20px">
    <div class="wrapper col-xs-4">
      <div class="item">
        <div class="cover">
          <a href="http://www.yingjiesheng.com/"><img class="img-responsive" src="../images/1648434f.job1.png" alt="Dress plus"></a>
        </div>
        <div class="desc">
          <div class="title">应届生网-专注应届生</div>
          <!-- <div class="summary">
          周期 12 天&nbsp;&nbsp;|&nbsp;&nbsp;
          工程师 8 位&nbsp;&nbsp;|&nbsp;&nbsp;
          花费 18237 元
        </div> -->
        </div>
      </div>
    </div>
    <div class="wrapper col-xs-4">
      <div class="item">
        <div class="cover">
          <a href="http://www.lagou.com/"><img class="img-responsive" src="../images/1648434f.job1.png" alt="Getfun"></a>
        </div>
        <div class="desc">
          <div class="title">拉钩网很确定好工作</div>
          <!-- <div class="summary">
          周期 12 天&nbsp;&nbsp;|&nbsp;&nbsp;
          工程师 8 位&nbsp;&nbsp;|&nbsp;&nbsp;
          花费 18237 元
        </div> -->
        </div>
      </div>
    </div>
    <div class="wrapper col-xs-4">
      <div class="item">
        <div class="cover">
          <a href="http://www.51job.com/"><img class="img-responsive" src="../images/1648434f.job1.png" alt="Hr"></a>
        </div>
        <div class="desc">
          <div class="title">前程无忧-没有工作忧愁</div>
          <!-- <div class="summary">
           周期 12 天&nbsp;&nbsp;|&nbsp;&nbsp;
           工程师 8 位&nbsp;&nbsp;|&nbsp;&nbsp;
           花费 18237 元
         </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" style="padding-left: 30px;padding-right: 30px">
  <div class="row entrances">
    <div class="col-lg-6 col-md-12" align="center" style="margin-bottom: 20px">
      <div class="title">我是精英</div>
      <div class="subtitle">我要帮助别人求职</div>
      <a class="action" ui-sref="index.eliteInto">精英入驻</a>
    </div>
    <div class="col-lg-6 col-md-12" align="center">
      <img src="../images/d03e6c41.index-t1.png">
    </div>
  </div>
  <div class="row entrances">
    <div class="col-lg-6 col-md-12" align="center">
      <img src="../images/97312a69.index-t2.png">
    </div>
    <div class="col-lg-6 col-md-12" align="center">
      <div class="title">我是新人</div>
      <div class="subtitle">我在寻找精英指点</div>
      <a class="action" ui-sref="index.counselor">浏览顾问</a>
    </div>
  </div>
</div>